<h1>Here is a form. Write a new article. I dare you.</h1>

<form action="/articles" method="post">
  <p><input type="text" value="article title" name="title"></p>
  <p><input type="text" value="article content" name="content"></p>
  <p><input type="submit" name="submit" id="Submit"></p>
</form>